* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #204042;
}

canvas {
  width: 90%;
  height: 90%;
  border-top: 30px solid transparent;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  border-image: url("images/border.png") 30 round;
  margin: 0;
  padding: 0;
}

#ground {
  width: 90%;
  height: 10%;
  top: 90%;
  left: 5%;
  position: fixed;
  margin: 0;
  padding: 0;
}

#ground-img {
  height: 100%;
  background-image: url("images/ground.png");
  background-repeat: repeat-x;
  background-size: contain;
  margin: 0;
  padding: 0;
}